body {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.switch-forth,
.switch-back {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    cursor: pointer;
    font-size: 35px;
    font-weight: lighter;
    color: white;
    top: 100px;
}

.switch-back {
    left: 15px;
}
.switch-forth {
    right: 15px;
}
.switch-back:hover,
.switch-forth:hover {
    color: black;
    background-color:white;
}

/* General styling*/

p {
    color: grey;
    font-size: 0.9rem;
    font-family: 'Barlow', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;;
    padding-left: 10px;
}

#search {
    width: 40%;
    height: 30px;
    border: 2px solid lightgrey;
    margin: 5px; 
    font-size: 13px;
}

.head-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-2 {
    margin-right: auto;
}

img {
    border-radius: 50%;
}

.card {
    border: 1px solid lightgray;
    margin: 5px;
    padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.card {
    display: flex;
    gap: 15px;
}

